*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    background-color:aqua;

    height:100vh;
  
}
.container{
    position:relative;
    max-width:800px;
    padding:10px;
    margin:0 auto;
}
.title{
    width:100%;
    display: flex;
    padding:10px 0;

}

.title >input[type="text"]{
   width:90%;
    color:black;
    background:none;
    padding:11px;
    font-size:22px;
    outline:none;
}
.title button{
    margin: 0 10px;
} 
.notCompleted,Completed{
    margin:5px 0;
    padding:20px;
}
h3{
    font-size:28px;
    text-transform: uppercase;
    text-align: center;
    
}
ol{
    list-style: none;
}
ol li{
    width:100%;
    padding:18px;
    margin:5px 0;
    background:aliceblue;
    font-size:22px;
}
ol.Completed li{
    background-color: greenyellow;
}
ol.notCompleted li{
    background-color: red;
}
li button{
    float:right;
    padding:5px;
    border:none;
    background:none;
    cursor: pointer;
}